body {
  max-width: 800px;
  width: 75%;
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  padding: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

.date {
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.5rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

blockquote {
  border-left: 4px solid #bdc3c7;
  margin: inherit;
  padding-left: 0.5rem;
}

hr {
  width: 100%;
  background-color: #eee;
  border-width: 0;
  height: 3px;
  margin: 30px 0px 50px 0px;
}
